interactions:
- request:
    body: project_member_id=59319749&filename=foo&metadata=%7B%22description%22%3A+%22%22%2C+%22filename%22%3A+%22foo%22%2C+%22tags%22%3A+%5B%5D%2C+%22creation_date%22%3A+%222018-03-30T18%3A13%3A55.373029%2B00%3A00%22%2C+%22md5%22%3A+%22c151651ed5527daf1354041cb7714b93%22%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/api/direct-sharing/project/files/upload/direct/?access_token=ACCESSTOKEN
  response:
    body: {string: '{"url":"https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-113/c0ef611e-3524-11e8-be8e-c2dc113bc2b2/foo?Signature=aB1aWi0IiEqrQeJV2TQCqFSd76g%3D&Expires=1522550860&AWSAccessKeyId=AKIAIKNTFUJJTNS6N7HA","id":36780}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Sat, 31 Mar 2018 20:47:40 GMT']
    status: {code: 201, message: Created}
- request:
    body: "0\r\n\r\n"
    headers:
    method: PUT
    uri: https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-113/c0ef611e-3524-11e8-be8e-c2dc113bc2b2/foo?AWSAccessKeyId=AKIAIKNTFUJJTNS6N7HA&Expires=1522550860&Signature=aB1aWi0IiEqrQeJV2TQCqFSd76g%3D
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NotImplemented</Code><Message>A header you provided implies functionality
        that is not implemented</Message><Header>Transfer-Encoding</Header><RequestId>A8260E916FB7F1EA</RequestId><HostId>dqUBHH1XVv2Hy7/huPBIbWV32R9x2RoiRmokml6qgqZpN0B+pVCLcorlC05hiV22fC7U7R1lLrI=</HostId></Error>'}
    headers:
      Content-Type: [application/xml]
      x-amz-request-id: [A8260E916FB7F1EA]
    status: {code: 501, message: Not Implemented}
- request:
    body: file_id=36780&project_member_id=59319749
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/api/direct-sharing/project/files/upload/complete/?access_token=ACCESSTOKEN
  response:
    body: {string: '{"status":"ok","size":""}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Sat, 31 Mar 2018 20:47:43 GMT']
    status: {code: 200, message: OK}
version: 1
