interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/members/?access_token=ACCESSTOKEN
  response:
    body: {string: '{"count":3,"next":null,"previous":null,"results":[{"created":"2018-03-05T04:42:15.887216Z","project_member_id":"28225754","message_permission":true,"sources_shared":[],"username":"DartingMelody","data":[]},{"created":"2018-03-05T04:55:39.634313Z","project_member_id":"37851104","message_permission":true,"sources_shared":[],"username":"Tasneem","data":[{"id":34974,"basename":"foo","created":"2018-03-16T07:29:18.303273Z","download_url":"https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-91/bca0b95e-28eb-11e8-b6b5-feb908e75a1b/foo?Signature=yeAjtC4wwq69n0Z5L9qM3lA%2Bohs%3D&Expires=1521442385&AWSAccessKeyId=AKIAIKNTFUJJTNS6N7HA","metadata":{"tags":["test_tag"],"description":"test_file"},"source":"direct-sharing-91"},{"id":34931,"basename":"foo","created":"2018-03-15T16:00:34.168427Z","download_url":"https://open-humans-production.s3.amazonaws.com/member-files/direct-sharing-91/fe77f05e-2869-11e8-a7d2-1aa0cedf2ff2/foo?Signature=54s9xm6S4VzeNWKZ8r0ZTA1brKA%3D&Expires=1521442385&AWSAccessKeyId=AKIAIKNTFUJJTNS6N7HA","metadata":{"tags":["test_tag"],"description":"test_file"},"source":"direct-sharing-91"},{"id":34923,"basename":"foo","created":"2018-03-15T11:15:57.925279Z","download_url":"htt[...]
[...]
